:root {
    --white-color : #fff;
    --black-color : #000;
    --text-color : #333;
    --border-color : #ccc;
    --primary-color: rgb(238, 77, 45);
    --primary-color-rgba : rgba(238, 77, 45,0.5);
}

* {
    box-sizing:inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}